.double-nav .breadcrumb-dn {
    color: #fff;
  }
  .side-nav.wide.slim .sn-ad-avatar-wrapper a span {
    display: none;
  }

  .avatar-prof-img{
    width: 28px;
    height: 28px;
  }

  .primary-color{
    background-color: #0266B4!important;
     
  }

  .secondary-color {
    background-color: #008E46 !important;
}