<style>
    .card{
        margin-top: 1%;
    }
</style>
<div class="card">
    <div class="card-header">Branch</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <label>Branch Name</label>
                <input type="text" class="form-control"  ng-model="branch.branchname" >
            </div>
            <div class="col-md-6">
                <label>Address</label>
                <textarea class="form-control" ng-model="branch.address" ></textarea>
            </div>
            <div class="col-md-4">
                <lable>Status</lable>
                <select ng-model="branch.status" class="form-control">
                <option value=""hidden>select</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
                </select>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <input type="submit" class="btn-primary" ng-click="submit(branch)"/>
    </div>
</div>
<div class="card">
    <div class="card-header">Branch List</div>
        <div class="card-body">
        <table id="table" class="table table-bordered">
            <thead class="text-center">
                <!-- <tr> -->
                    <th>sno</th>
                    <th class="text-center">Branch Name</th>
                    <th class="text-center">Address</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Edit</th>
                    <!-- </tr> -->
            </thead>
            <tbody>
                <tr ng-repeat="x in branches">
                    <td class="text-center">{{$index+1}} </td>
                    <td class="text-center">{{x.branchname}} </td>
                    <td class="text-center">{{x.address}}</td>
                    <td class="text-center">{{x.status}}</td>     
                    <td ><input type="button" value="edit" ng-click="edit(x)"></td>
                </tr>
                </tbody>
        </table>
        </div>
</div>
