<style>
    /* .card{
        text-align:center;
    }         */
    .row{
        margin-top: 1%;
        /* text-align: center; */
    }
</style>
<div class="card">
    <div class="card-header">Customer</div>
    <form id="form">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4"> Customer ID
                    <input type="number" ng-model="customer.customer_id" required class="form-control"/>

                </div>
                <div class="col-md-4">First Name
                    <input type="text" ng-model="customer.first_name" required class="form-control"/>
                </div>
                <div class="col-md-4">Last Name
                    <input type="text" ng-model="customer.last_name" required class="form-control"/>
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-4">Age
                    <input type="number"  ng-model="customer.age" required class="form-control"/>
                </div>
                <div class="col-md-4">Parent
                    <input type="text" ng-model="customer.parent" required class="form-control"/>
                </div>
                <div class="col-md-4">Parent type
                    <select class="form-control" ng-model="customer.parent_type" required>
                        <option hidden value="">Select</option>
                        <option>D/O</option>
                        <option>S/O</option>
                        <option>W/O</option>
                    </select>
                </div>
                <!-- <div class="col-md-4">W/O
                    <input type="text"  ng-model="customer.wo"  class="form-control"/>
                </div>  -->
                
           
            </div>
            <div class="row"> 
                <div class="col-md-4">Mobile
                    <input type="number" ng-model="customer.mobile" required class="form-control"/>
            </div> 
                <div class="col-md-4">Aadhar Number
                    <input type="number" ng-model="customer.aadhar" required class="form-control"/>
                </div>
                
                <div class="col-md-4"> Permanent Address
                    <textarea ng-model="customer.permanent_address" required class="form-control"></textarea>
               </div>
              
           </div> 
            
            <div class="row"> 
                <div class="col-md-4"> Present Address
                    <textarea ng-model="customer.present_address" required class="form-control"></textarea>
                </div>
                <div class="col-md-4">Status
                    <select class="form-control"  ng-model="customer.status" required>
                        <option hidden value="">Select</option>
                        <!-- <option ng-repeat="(key,value) in status" value="{{key}}">{{value}}</option> -->
                        <option >Active</option>
                        <option>In-active</option>
                    </select>
                </div>
                <div class="col-md-4">Gender
                    <select class="form-control"  ng-model="customer.gender" required>
                        <option hidden value="">Select</option>
                        <!-- <option ng-repeat="(key,value) in status" value="{{key}}">{{value}}</option> -->
                        <option >Male</option>
                        <option>Female</option>
                        <option>Others</option>
                    </select>
                </div>
                <!-- <label>&nbsp;&nbsp;&nbsp;&nbsp;Gender</label>
                <div ng-repeat="(key,value) in gender"><br>
                    <input type="radio" value="male" ng-model="customer.gender" />Male&nbsp;<input type="radio" value="female" ng-model="customer.gender"/>Female 
                    <input type="radio"  class="gender" id="{{key}}" name="gender" ng-click="customer.gender=key">
                    <label>{{value}}&nbsp;&nbsp;&nbsp;&nbsp;</label>
                </div> -->
                
            </div>   
        </div>    
        <div class="card-footer" style="text-align: center;">
            <!-- <input type="reset" value="Clear" ng-click="resetForm('form')" class="btn btn-primary "> -->
            <input type="submit" value="Submit" class="btn btn-primary " ng-click="saveCustomer(customer)"/>
        </div>
    </form>
</div><br>
<div>
    <table class="table table-striped" id="table">
        <thead>
            <tr>
                <th>Sno.</th>
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Parent</th>
                <th>Parent type</th>
                <th>Mobile</th>
                <th>Aadhar Number</th>
                <th> Permanent Address</th>
                <th>Present Address</th>
                <th>Status</th>
                <th>Gender</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in cust">
                <td>{{$index+1}}</td>
                <td>{{data.customer_id}}</td>
                <td>{{data.first_name}}</td>
                <td>{{data.last_name}}</td>
                <td>{{data.age}}</td>
                <td>{{data.parent}}</td>
                <td>{{data.parent_type}}</td>
                <td>{{data.mobile}}</td>
                <td>{{data.aadhar}}</td>
                <td>{{data.permanent_address}}</td>
                <td>{{data.present_address}}</td>
                <td>{{data.status}}</td>
                <td>{{data.gender}}</td>
                <td><input type="button" value="Edit" class="btn btn-primary " ng-click="edit(data)"></td>
            </tr>
        </tbody>
    </table>
</div >