<div class="card">
        <div class="card-header">User creation</div>
        <div class="card-body">
        <div class="row">
        <div class="col-md-4">
        <label>First name</label>
        <input type="text" id="firstName" class="form-control" ng-model="user.first_name" required/>
        </div>
        <div class="col-md-4">
        <label>Last name</label>
        <input type="text" class="form-control" ng-model="user.last_name" required/>
        </div>
        <div class="col-md-4">
        <label>Mobile number</label>
        <input type="number" class="form-control" ng-model="user.mobile" required/>
        </div>
        <div class="col-md-4">
        <label>Username</label>
        <input type="text" class="form-control" ng-model="user.username" required/>
        </div>
        <div class="col-md-4">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="user.password" required/>
        </div>
        <!-- <div class="col-md-4">
        <label>Confirm password</label>
        <input type="password" class="form-control" ng-model="user.confirmPassword" required/>
        </div> -->
        <div class="col-md-4">
        <label>Date of birth</label>
        <input type="text" class="form-control" ng-model="user.date_of_birth" id="date_of_birth" readonly style="background-color: transparent" autocomplete="off"/>
        </div>
        <div class="col-md-4">
        <label>Address</label>
        <textarea type="text" class="form-control" ng-model="user.location" required></textarea>
        </div>
        <div class="col-md-4">
        <label>User type</label>
        <select class="form-control" ng-model="user.user_type" required>
        <option value="">Select</option>
        <option ng-if="user.user_type=='PA' || getValue('user_type','PA')<0">PA</option>
        <option>User</option>
        </select>
        </div>
        </div>
        </div>
        <div class="card-footer">
        <input type="submit" value="Submit" class="btn btn-primary " ng-click="submit(user)"/>
        </div>
        </div><br>
        <div class="card">
        <div class="card-header">User List</div>
        <div class="card-body">
        <table id="table" class="table table-bordered">
        <thead class="text-center">
        <tr>
        <th class="text-center">S.NO</th>
        <th class="text-center">Name</th>
        <th class="text-center">Mobile number</th>
        <th class="text-center">User name</th>
        <th class="text-center">Password</th>
        <th class="text-center">Date of birth</th>
        <th class="text-center">Address</th>
        <th class="text-center">User type</th>
        <th class="text-center">Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
        <td class="text-center">{{$index+1}}</td>
        <td class="text-center">{{user.first_name}} {{user.last_name}}</td>
        <td class="text-center">{{user.mobile}}</td>
        <td class="text-center">{{user.username}}</td>
        <td class="text-center">{{user.password}}</td>
        <td class="text-center">{{user.date_of_birth}}</td>
        <td class="text-center">{{user.location}}</td>
        <td class="text-center">{{user.user_type}}</td>
        <td class="text-center"><input type="button" value="Edit" class="btn btn-primary " ng-click="edit(user)"></td>
        </tr>
        </tbody>
        </table>
        </div>
        </div>