<!doctype html>
<html lang="en">
	<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>EFM</title>

		<script type="text/javascript" src="/static/mdb/js/jquery-3.4.1.min.js"></script>
		<!-- Bootstrap tooltips -->
		<script type="text/javascript" src="/static/mdb/js/popper.min.js"></script>
		<!-- Bootstrap core JavaScript -->
		<script type="text/javascript" src="/static/mdb/js/bootstrap.min.js"></script>
		<!-- MDB core JavaScript -->
		<script type="text/javascript" src="/static/mdb/js/mdb.min.js"></script>

		
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
		<!-- Bootstrap core CSS -->
		<link href="/static/mdb/css/bootstrap.min.css" rel="stylesheet">
		<!-- Material Design Bootstrap -->
		<link href="/static/mdb/css/mdb.min.css" rel="stylesheet">
		<link href="/static/mdb/css/addons/datatables.min.css" rel="stylesheet">
		<!-- Your custom styles (optional) -->
		<link href="/static/mdb/css/style.css" rel="stylesheet">
		
		<link rel="stylesheet" href="/static/datepicker/css/datepicker.css">
		<script src="/static/datepicker/js/bootstrap-datepicker.js"></script>

		
		<script src="//oss.maxcdn.com/momentjs/2.8.2/moment.min.js"></script>
		<script src="/static/angular/angular.min.js"></script>
		<script src="/static/angular/angular-ui-router.min.js"></script>
		<script src="/static/lib/jquery-gmaps-latlon-picker.js"></script>
		
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

		<script src="/static/angular/angular-animate.js"></script>
		<script src="/static/angular/angular-route.js"></script>

		<script type="text/javascript" src="/static/mdb/js/addons/datatables.min.js"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi">
		</script>
		<script>
			google.load("elements", "1", {
				packages: "transliteration"
			});
		</script>
		<script src="/static/js/app.js"></script>
		<script src="/static/js/controller.js"></script>
		<script src="/static/js/services.js"></script>
		<script src="/static/js/directives.js"></script>
		
		
	</head>
	<body ng-app="RootApp">
		<!--Navbar -->
		<header ng-controller="HeaderController">
			<nav class="mb-1 navbar fixed-top navbar-expand-lg navbar-dark primary-color lighten-1" style="height: 55px;">
				<div class="collapse navbar-collapse" id="navbarSupportedContent-555">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					  <a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
					  </a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown">Admin settings</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#/create">User Creation</a>
							<a class="dropdown-item" href="#/branch">Branch</a>
							<a class="dropdown-item" href="#/customer">Customer</a>
						</div>
					  </li>
					</div>
				  </ul>
				</div>
			</nav>
	  <!--/.Navbar -->
		</header>
		<main>	
			<div class="container" style="height:1300px;margin-top:60px;">
					<nav aria-label="breadcrumb">
							<ol class="breadcrumb secondary-color">
							  <li class="breadcrumb-item"><a class="white-text" href="#">Home</a></li>
							  <li class="breadcrumb-item"><a class="white-text" href="#">Library</a></li>
							  <li class="breadcrumb-item active">Data</li>
							</ol>
						  </nav>
		<div ui-view="" autoscroll="false"></div>
		</div>
</main>
		
	</body>
</html>