<html>
	<head>
		<title>EFM</title>
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"rel="stylesheet">
		</head>
	<style>
		body{
			margin-top:100px;
		}
	</style>
	<body style="background-color: #92596542">
				<form method="post" action="/admin/login" align="center">
					<div>
							<h1 align="center"> LOGIN FORM</h1>
							<i class="fa fa-user-circle fa-5x" style="color:blue" ></i></i>
						</div> <br><br>
				
			
			<div>
				<b><label>USERNAME:</label></b>
				<input type="text" name="username" required/>
			</div> <br><br>
			<div>
				<b><label>PASSWORD:</label> </b>
			<b><input type="password" name="password" required/></b>
			</div> <br><br>
			<button type="submit" style="background-color:blue;color:white">SUBMIT</button>
		</form>
	</body>
</html>