<div class="card-columns">
<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Primary Panel title</h5>
      <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
    </div>
  </div>
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Secondary Panel title</h5>
      <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
    </div>
  </div>
  <div class="card border-success mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-success">
      <h5 class="card-title">Success Panel title</h5>
      <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
    </div>
  </div>
  <div class="card border-danger mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-danger">
      <h5 class="card-title">Danger Panel title</h5>
      <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
    </div>
  </div>
  <div class="card border-warning mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-warning">
      <h5 class="card-title">Warning Panel title</h5>
      <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
    </div>
  </div>
  <div class="card border-info mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-info">
      <h5 class="card-title">Info Panel title</h5>
      <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Light Panel title</h5>
      <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
    </div>
  </div>
  <div class="card border-dark" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Dark Panel title</h5>
      <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
    </div>
  </div>
</div>